<%= stylesheet_link_tag  "questions/new.css" %>
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Create New Question</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <%= form_with model: @survey_question, url: survey_questions_url, local: true, html: {class: "lead"} do |f| %>
    <div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <label class="mdl-textfield__label" for="survey_question_content">Content</label>
      <%= f.text_area :content, class: "form-control mdl-textfield__input", rows: "3" %>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= f.submit :class => "mdl-button mdl-js-button mdl-button--accent" %>
      <%= link_to 'Back', survey_path(id: @question["survey_id"]), :class => "mdl-button mdl-js-button mdl-button--accent" %>
    </div>
    <% end %>
  </div>
</div>