<h2>Survey Result</h2><br>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><strong>ID</strong></td>
      <td class="mdl-data-table__cell--non-numeric"><%= @survey.id %></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><strong>Survey Title</strong></td>
      <td class="mdl-data-table__cell--non-numeric"><%= @survey.title %></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><strong>Survey Description</strong></td>
      <td class="mdl-data-table__cell--non-numeric"><%= @survey.description %></td>
    </tr>
  </tbody>
</table><br>

<h2>Question Responses</h2>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Question Text</th>
      <th class="mdl-data-table__cell--non-numeric">Response Text</th>
    </tr>
  </thead>
  <tbody>
    <% @question_responses.each do |qr| %>
    <tr>
      <td class="mdl-data-table__cell"><%= qr.question.content %></td>
      <td class="mdl-data-table__cell--non-numeric"><%= qr.response %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="mdl-card__actions mdl-card--border">
  <%= button_to 'Back', user_results_path, :class => "mdl-button mdl-js-button mdl-button--accent", :method => :get %>
</div>