<%= stylesheet_link_tag  "surveys/new.css" %>
<%= form_with model: @survey, local: true, html: {class: "lead"} do |f| %>
<div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <label class="mdl-textfield__label" for="survey_title">Title</label>
  <%= f.text_field :title, class: "form-control mdl-textfield__input", placeholder: "Enter title" %>
</div>
<div class="form-group mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <label class="mdl-textfield__label" for="survey_description">Description</label>
  <%= f.text_area :description, class: "form-control mdl-textfield__input", rows: "3", placeholder: "Enter description" %>
</div>

<div class="form-group">
  <label class="mdl-datefield__label">Can be started from:</label>
  <%= f.date_field :can_be_started_from, class: "form-control", min: Date.today, order: [:day, :month, :year] %>
  <label class="mdl-datefield__label">can be started until:</label>
  <%= f.date_field :can_be_started_until, class: "form-control", min: can_be_started_from, order: [:day, :month, :year] %>
</div>

<div class="mdl-card__actions mdl-card--border">
  <%= f.submit :class => "mdl-button mdl-js-button mdl-button--accent" %>
  <%= link_to 'Back', surveys_path, :class => "mdl-button mdl-js-button mdl-button--accent" %>
</div>
<% end %>