
    <h1>Show All Surveys</h1><br>
    <table>
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Is Active</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <% @surveys.each do |survey| %>
                <tr>
                    <td><%= survey.id %></td>
                    <td><%= survey.title %></td>
                    <td><%= survey.description %></td>
                    <td><%= survey.is_active%></td>
                    <td><%= link_to 'Show', survey_path(survey) %></td>
                    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
                </tr>
            <% end %>
        </tbody>
    </table><br>
    <%= link_to 'New Survey', new_survey_path%><br>
    <%= link_to 'Back', user_results_path %>