<div class="jumbotron jumbotron-fluid mx-auto">
  <div class="container">
    <h1 class="display-4">Show All Surveys</h1><br>
    <table class="table table-dark">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Is Active</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <% @surveys.each do |survey| %>
                <tr>
                    <td><%= survey.id %></td>
                    <td><%= survey.title %></td>
                    <td><%= survey.description %></td>
                    <td><%= survey.is_active%></td>
                    <td><%= link_to 'Show', survey_path(survey) %></td>
                    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
                </tr>
            <% end %>
        </tbody>
    </table><br>
    <%= link_to 'New Survey', new_survey_path%><br>
    <%= link_to 'Back', user_results_path %>
  </div>
</div>