<div class="jumbotron jumbotron-fluid mx-auto">
  <div class="container">
    <h1>Survey</h1><br>
    <table class="table table-hover table-dark">
      <tbody>
        <tr>
          <td><strong>Title</strong></td>
          <td><%= @survey.title %></td>
        </tr>
        <tr>
          <td><strong>Description</strong></td>
          <td><%= @survey.description %></td>
        </tr>
        <tr>
          <td><strong>Is Active</strong></td>
          <td><%= @survey.is_active %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'Edit', edit_survey_path(@survey) %><br><br>

    <h2>Survey's Questions</h2><br>
    <table class="table table-dark">
        <thead>
            <th scope="col">No.</th>
            <th scope="col">Content</th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <% @survey.questions.each do |question| %>
                <tr>
                    <td><%= question.id %></td>
                    <td><%= question.content %></td>
                    <td><%= link_to 'Edit', edit_survey_path(@survey) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= link_to 'New Question', new_survey_question_path(@survey.id)%><br>
    <%= link_to 'Back', surveys_path %>
  </div>
</div>