<div class="jumbotron jumbotron-fluid mx-auto">
    <h1>Show All User Results</h1><br>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">User UUID</th>
                <th class="mdl-data-table__cell--non-numeric">Period Start</th>
                <th class="mdl-data-table__cell--non-numeric">Period End</th>
                <th class="mdl-data-table__cell--non-numeric">Time Spent On Phone</th>
                <th class="mdl-data-table__cell--non-numeric">Survey Result</th>
            </tr>
        </thead>
        <tbody>
            <% @user_results.each do |user_result| %>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><%= user_result.user_uuid %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= user_result.period_start %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= user_result.period_end %></td>
                    <td class="mdl-data-table__cell--non-numeric"><%= user_result.time_spent_on_phone / (1000 * 60) % 60 %> minutes</td>
                    <td class="mdl-data-table__cell--non-numeric"><%= link_to user_result.survey_result_id, survey_result_path(user_result.survey_result_id) %></td>
                </tr>
            <% end %>
        </tbody>
    </table><br>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--2-col">
            <%= button_to 'Show Surveys', surveys_path, :class => "mdl-button mdl-js-button mdl-button--accent", :method => :get %>
        </div>        
        <div class="mdl-layout-spacer"></div>
    </div>
</div>