<script type="text/javascript">

  // Load the Visualization API and the corechart package.
  google.charts.load('current', { 'packages': ['corechart'] });

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    var user_results = JSON.parse('<%= (@user_results_json.count) == 0 ? "[]" : @user_results_json.to_json.html_safe %>');
    console.log(user_results);

    var dates = new Set();
    user_results.forEach(function (user_result) {
      user_result.phone_usages.forEach(function (phone_usage) {
        var start_time = new Date(phone_usage.start_time)
        dates.add(dateToString(start_time))
      });
    });

    var results = {};
    user_results.forEach(function (user_result) {
      user_result.phone_usages.forEach(function (phone_usage) {
        var start_time = new Date(phone_usage.start_time)
        var end_time = new Date(phone_usage.end_time)
        var time_spent_in_seconds = (end_time - start_time) / 60000
        
        var start_time_string = dateToString(start_time)
        if(start_time in results) {
          results[start_time_string] += time_spent_in_seconds;
        } else {
          results[start_time_string] = time_spent_in_seconds;
        }
      });
    });

    var data = new google.visualization.DataTable();
    data.addColumn('date', 'date');
    data.addColumn('number', 'Time Spent On Phone in Minutes');


    dates = Array.from(dates).sort();  
    console.log(dates)
    dates.forEach(function (date) {
      console.log(date);
      console.log(results[date]);
      data.addRow([new Date(date), results[date]]);
    });
      
    var options = {
      vAxis: {
        title: 'Time Spent On Phone in Minutes'
      },
      width: 800,
      height: 500
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }

  function dateToString(date) {
    return date.getMonth().toString() + "-" + date.getDate().toString() + "-" +  date.getFullYear().toString()
  }
</script>

<%= link_to 'Back', user_results_path, :class => "mdl-button mdl-js-button mdl-button--accent" %><br><br>
<strong>User UUID:</strong>
<%= params[:user_uuid] %>
<div>
  <%= content_tag :div, '', id: 'user-result-data', data: @user_result_data %>
  <div id="chart_div"></div>
</div>



<h2>User Results</h2><br>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Period Start</th>
            <th class="mdl-data-table__cell--non-numeric">Period End</th>
            <th class="mdl-data-table__cell--non-numeric">Survey Result</th>
        </tr>
    </thead>
    <tbody>
        <% @user_results.each do |user_result| %>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= user_result.period_start %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= user_result.period_end %></td>
            <td class="mdl-data-table__cell--non-numeric">
                <%= link_to user_result.survey_result_id, survey_result_path(user_result.survey_result_id) %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>